extends ../layout.jade

block errorCursos
 div(class="container")
   br
   div(class="alert alert-danger" class="col-md-6" role="alert")
     center 
       This ¡Error! ya existe un curso con ese mismo id
    div.form-group.col-md-8
     a(type="submit" value="Volver" class="btn btn-primary btn-lg" href="/registro") Volver
