extends ../layout.jade

block exito
 br
 div(class="alert alert-success" class="col-md-6" role="alert")
  center 
      This Se ha registrado exitosamente al curso
 a(type="submit" value="Volver" class="btn btn-primary btn-lg" href="/inscritos") Volver