doctype html
html(lang="es")
  head
    title Node JS
    meta(charset="utf-8")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    script(src='https://code.jquery.com/jquery-1.12.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  body
   block contenido
   block menu
   block errorCursos
   block errorInscrito
   block curso
   block formulario
   block ver
   block table
   block collapse
   block nota
   block upgrade
   block tituloInscricion
   block formularioInscricion
   block tableInscritos
   block exito
   