extends ../layout.jade

block errorInscrito
 div(class="container")
  br
  div(class="alert alert-danger" class="col-md-6" role="alert")
     center 
       This ¡Error! ya está inscrito a esté curso
    div.form-group.col-md-8
      a(type="submit" value="Volver" class="btn btn-primary btn-lg" href="/inscribir") Volver