extends ../../../layout.jade
extends ../../home.jade

block errorCursos
 div(class="container")
   br
   div(class="alert alert-danger" class="col-md-6" role="alert")
     center 
       This ¡Error! ya existe un curso con ese mismo id
