extends ../../layout.jade
extends ../home.jade

block update
 div(class="container")
     div(class="alert alert-success" class="col-md-8" role="alert")
         h1 A el curso "#{data.nombre}" se cambio el estado a "#{data.estado}" exitosamente